cryptography>=3.4.0
requests>=2.25.0
argparse>=1.4.0
fastapi>=0.75.0
uvicorn[standard]>=0.17.0
pydantic>=1.8
prometheus-client>=0.14.1
web3
python-dotenv
solc-select
slither-analyzer
celery[redis]
redis 